/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    color: white;
    background-color: #222222;
}
header, main{
    background-color: black;
}
header, main, footer{
    width: 95vw;
    margin: auto;
}
/* HEADER */
header{
    height: 80px;
    text-align: end;
}
header div{
    display: inline-block;
    background-color: grey;
    padding: 3px;
    border-radius: 5px;
    margin: 0.5rem 0.5rem 0 0;
}
.speaker-view p{
    display: inline-block;
}
/* MAIN */
main{
    height: calc(100vh - 180px);
    overflow-y: auto;
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.user{
    position: relative;
    width: 200px;
    height: 120px;
    margin-left: 0.5em;
    margin-bottom: 1em;
}
.user img{
    height: 100%;
}
.name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.4);
}
.name p{
    display: inline-block;
}
/* FOOTER */
footer{
    background-color: #2c2c2c;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.foot-left{
    width: 10%;
    height: 100%;
}
.item{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.item i:first-child{
    font-size: 2em;
    margin-bottom: 0.2em;
} 
.foot-right{
    width: 15%;
    line-height: 80px;
    text-align: center;
    color: red;
    background-color: #464444;
}   